.cards {
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 40px;
}

.card {
  padding: 20px 30px;
  margin: 0 50px;
  font-size: 14px;
  box-shadow: 0 0 10px lightgray;
  height: 275px;
}

.card img {
  width: 200px;
}
