.banner-container {
  color: white;
  margin: auto 30px;
}

.banner-container p{
  color: lightgrey;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  text-align: center;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}

.container h3 {
  font-size: 19px;
  }

.container p{
color: grey;
font-size: 18px;
}
